[server default]
user=root
password=zzyhappy
manager_workdir=/usr/local/mha
manager_log=/usr/local/mha/logs/manager.log
#remote_workdir=/masterha/app1

master_ip_failover_script="/usr/local/mha/master_ip_failover"

ssh_user=root
repl_user=repl
repl_password=zzyhappy
ping_interval=1

[server1]
hostname=host1
#ssh_port=9999
master_binlog_dir=/usr/local/mysql/mysql/data/
candidate_master=1

[server2]
hostname=host3
#ssh_port=9999
master_binlog_dir=/usr/local/mysql/mysql/data/
candidate_master=1

[server3]
hostname=host4
#ssh_port=9999
master_binlog_dir=/usr/local/mysql/mysql/data/
candidate_master=1
