[server default]
user=root
password=password
ssh_user=root
ssh_port=22
repl_user=root
repl_password=password
master_pid_file=/var/run/mysqld/mysqld.pid
#client_bindir=/usr/local/mysql/bin

manager_workdir=/var/tmp
#manager_log=/tmp/logs/manager.log
secondary_check_script=masterha_secondary_check -s 172.16.164.132 -s 172.16.164.134 --user=root --master_host=mysql2 --master_ip=172.16.164.133 --master_port=3306
#master_ip_online_change_script=/usr/local/mha/master_ip_online_change
master_ip_online_change_script=/usr/local/mha/master_ip_online_change_custom
report_script=/usr/local/mha/send_report
#master_ip_failover_script=/usr/local/mha/master_ip_failover
#master_ip_failover_script=/usr/local/mha/change_hostname.sh
ping_interval=3
ping_type=CONNECT

[server1]
hostname=172.16.164.132
port=3306
master_binlog_dir=/var/nebula/mysql/
remote_workdir=/var/tmp
candidate_master=1
check_repl_delay=0

[server2]
hostname=172.16.164.133
port=3306
master_binlog_dir=/var/nebula/mysql/
remote_workdir=/var/tmp
candidate_master=1
check_repl_delay=0

[server3]
hostname=172.16.164.134
port=3306
master_binlog_dir=/var/nebula/mysql/
remote_workdir=/var/tmp
#candidate_master=1
no_master=1
check_repl_delay=0
